name: Python Check

on: [push]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install checker
        run: pip install flake8
      - name: Check code style
        run: flake8 .  # Checks all your Python files
